<!DOCTYPE html>
<html>
  <head>
    <title>ChitChat</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <header>CHAT ANONYMIOUSLY HERE!</header>

    <div class = "container">
      <div class = "chatWindow">
        <p id = "userName">Current Time Mr. XXX</p>
        <div class = "chats">
          <!--
          //Received Message
          <div class = "receivedMsg mess" style = "background-color: #454;">
              <div class="sender">Kamlesh, 5:55PM</div>
              <div class = "message">Hey there! We have been working on this for a very long time.</div>
          </div>

          // Sent Message
          <div class = "sentMsg mess" style = "background-color: #cdf;">
              <div class = "message">Hi! YEah that's true.</div>
              <div class="sender">Ume, 5:58PM</div>
          </div>
        -->
        </div>
        <div class = "compose">
          <textarea name = "message" placeholder = "User Name or Message"></textarea>
          <button type = "submit" onclick="sendMsg()">SEND</button>
        </div>

      </div>

      <div class = "logs">
        <p id = "logsP">LOGS</p>
        <div class = "log">
          >>
          <!--
          Monday, 13 Nov 09:33AM: Kamlesh joined the group.<br>>>
        -->
        </div>
      </div>
    </div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="../public/client.js"></script>

  </body>
</html>
