/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  font-size: 11px;
  letter-spacing: 2px;
  text-align: center;
}

header{
  width: 100%;
  background-color: #59DE98;
  border: 2px solid #888;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 4px;
  word-spacing: 6px;
}

.container{
  margin: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#userName{
  padding: 5px;
  background-color: #43D1AF;
  border-radius: 8px;
}

.chatWindow{
  width: 100%;
  background: #99FFCA;
  margin: 6px auto;
  border-radius: 7px;
}

.compose textarea{
  width: 98%;
  background: #fff;
  margin-bottom: 2px;
  border: 2px solid #aaa;
  border-radius: 5px;
  min-height: 50px;
  padding: 5px;
  outline: 0;
  color: #444;
}

.chats{
  height: 310px;
  overflow-y: auto;
  width: 96%;
  border-radius: 10px;
  background-color: #eee;
  margin: 5px auto;
  padding: 10px 0;
}

button{
  background: #43D1AF;
  padding: 5px;
  font-size: 1.1em;
  font-weight: 300;
  color: #fff;
	margin-bottom: 2px;
	border-radius: 10px;
  border: none;
	outline: 0;
	cursor: pointer;
}

button:hover{
  box-shadow: 0 0 25px #fff;
}
button:active{
  transform: translate(2px, 1px);
}

.mess{
  max-width: 85%;
  margin-bottom: 7px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0 2px;
  color: #fff;
}

.receivedMsg{
  text-align: left;
  position: relative;
  left: 2px;
}

.sentMsg{
  text-align: left;
  position: relative;
  left: 14%;
}

.mess:last-of-type{
  margin-bottom: 0;
}

.sender{
  text-align: right;
  font-size: 0.7em;
  margin: 3px 0;
  color: #000;
}


.logs{
  width: 100%;
  background-color: black;
  margin: 10px auto;
  color: red;
  border: solid #555 3px;
}

#logsP{
  background-color: grey;
  padding: 5px;
  font-size: 1.3em;
  font-weight: bolder;
  color: white;
}

.log{
  height: 270px;
  overflow-y: auto;
  text-align: left;
  font-size: .85em;
  padding: 3px 4px;
}


@media screen and (max-width: 920px) and (min-width: 565px){
  body{
    font-size: 14px;
  }

  .chatWindow{
    width: 500px;
  }

  .chats{
    height: 350px;
  }

  .logs{
    width: 488px;
  }
}

@media screen and (min-width: 921px){
  body{
    font-size: 16px;
  }

  .chatWindow{
    width: 520px;
  }

  .chats{
    height: 400px;
  }

  .logs{
    width: 500px;
    height: 315px;
  }
}
